.menu {
  background-color: white;
  width: 70%;
  border-radius: 10px;
  margin: 0 auto;
  padding: 20px;
}
.MealsLoading {
  text-align: center;
  font-size: 20px;
}
.MealsError {
  color: red;
  text-align: center;
  font-size: 20px;
}
