.busket {
  font-size: 20px;
  font-weight: bold;
  background-color: #f5f3f1;
  color: #ff8001;
  border-radius: 25px;
  padding: 20px;
  margin-left: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.busket:hover,
.busket:active {
  background-color: #ff4d00;
  color: white;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 0.5rem;
}

.badge {
  background-color: #ff8001;
  color: white;
  padding: 0.25rem 1rem;
  border-radius: 25px;
  margin-left: 1rem;
  font-weight: bold;
}

.busket:hover .badge,
.busket:active .badge {
  background-color: #ff4d00;
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
